.DS_Store
build/
build-msvc/
build-msvc-full/
parity_tests/_work/
parity_tests/parity_report.json
/parity_wing*
buildlibs/
inst/
*.bak
.idea/
__pycache__/
*.egg-info
*.vscode
CMakeSettings.json
*.vs
examples/scripts/python_scripts/*_files/*
